.component {
  margin: 0;
  padding: 0;
  line-height: 0;
  user-select: none;
  cursor: move;
  z-index: 2;
}

.component.dragging {
  z-index: 5;
}

.component.dragging img {
  filter: drop-shadow(0 0 5px grey);
}
