cpnt-gallery {
  float: left;
  border: 1px solid #6c757d;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0.5rem;
  transform-origin: top;
  transition: transform 0.15s linear;
  background-color: rgba(226, 227, 229, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
}
