cpnt-gallery {
  float: left;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0.5rem;
  transform-origin: top;
  transition: transform 0.15s linear;
  background-color: lightgray;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
}
