link-corner {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  background-color: black;
  z-index: 1;
}

link-corner:hover {
  opacity: 1;
}

link-corner:active {
  opacity: 1;
  box-shadow: 0 0 5px black;
  z-index: 4;
}
