polyline.cpnt-link {
  stroke-width: 1px;
  stroke: black;
  fill: none;
}

line.cpnt-link-area {
  stroke-width: 10px;
  stroke: transparent;
  fill: none;
  pointer-events: stroke;
  cursor: pointer;
}
