@import 'Component.css';
@import 'CpntItem.css';
@import 'io/IO.css';
@import 'io/Input.css';
@import 'io/Output.css';
@import 'menu/Menu.css';
@import 'menu/MenuItem.css';
@import 'FixedLayer.css';
@import 'Gallery.css';
@import 'LinkLayer.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
}
