@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

#gallery
{
    background-color: rgba(0, 123, 255, 0.2);
    position: relative;
    z-index: 2;
}

.cpnt-instance
{
    z-index: 1;
}

.filter-invert
{
    filter: invert(1);
}

button
{
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}