@import 'Component.css';
@import 'CpntItem.css';
@import 'io/IO.css';
@import 'io/Input.css';
@import 'io/Output.css';
@import 'menu/Menu.css';
@import 'menu/MenuButton.css';
@import 'FixedLayer.css';
@import 'Gallery.css';
@import 'ModalLayer.css';
@import 'link/Link.css';
@import 'link/LinkCorner.css';
@import 'link/LinkLayer.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

* {
  user-select: none;
}
