cpnt-alu-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

cpnt-alu-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.1rem 0;
}

cpnt-alu-list {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
}

cpnt-alu-func {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

cpnt-alu-func label {
  color: black;
  line-height: 0;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

cpnt-alu-func select[is='custom-select'] {
  margin: 0;
  margin-left: 0.5rem;
}
