cpnt-display div {
  position: absolute;
  top: 21px;
  left: 6px;
  width: 129px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  pointer-events: none;
}
