cpnt-clock-subcycles {
  display: block;
  width: min-content;
  white-space: nowrap;
  margin: auto;
  padding: 0;
}

cpnt-clock-subcycles label {
  color: black;
  line-height: 0;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
