.component {
  margin: 0;
  padding: 0;
  line-height: 0;
  cursor: move;
  z-index: 2;
  position: absolute;
}

.component.dragging {
  z-index: 5;
}

.component.dragging img {
  filter: drop-shadow(0 0 5px grey);
}

.component.trashed {
  filter: invert(1);
}
