cpnt-mir-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

cpnt-mir-label {
  margin: 0;
  padding: 0.5rem;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

cpnt-mir-list {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
}

cpnt-mir-mask {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.1rem 0;
}

input[is='cpnt-mir-mask-name'] {
  width: 10rem;
}
