cpnt-cs-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

cpnt-cs-bits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

cpnt-cs-bits label {
  color: black;
  line-height: 0;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

cpnt-cs-table {
  position: relative;
}

cpnt-cs-store {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
}

cpnt-cs-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.1rem 0;
}

cpnt-cs-header {
  height: 1.5rem;
  display: block;
  position: relative;
  margin-left: 1.95rem;
  overflow: hidden;
}

cpnt-cs-header > div {
  height: 1.5rem;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5rem;
  border-bottom: 1px solid black;
  overflow: hidden;
}

cpnt-cs-grid {
  height: 100%;
  left: 3.2rem;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}

cpnt-cs-grid > div {
  width: 1px;
  height: 100%;
  position: absolute;
  margin-right: -1px;
  background-color: black;
}
