[is='cpnt-config'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[is='cpnt-config'] div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
