select[is='custom-select'] {
  margin: 0;
  padding: 0;
  height: 1.75rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  text-align-last: center;
  box-sizing: border-box;
  font-size: 1rem;
  color: black;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
}

select[is='custom-select']:focus {
  outline: none;
}

select[is='custom-select']:read-only, select[is='custom-select']:disabled {
  border: none;
}