modal-layer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

modal-layer.show {
  opacity: 1;
  pointer-events: all;
}

modal-layer .modal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px black;
  position: relative;
}

modal-layer .modal .modal-title {
  margin: 0;
  padding: 0.5rem 2.25rem 0.5rem 0.75rem;
  width: 100%;
  box-sizing: border-box;
  background-color: dimgray;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5rem 0.5rem 0 0;
}

modal-layer .modal .modal-content {
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-radius: 0 0 0.5rem 0.5rem;
}

modal-layer .modal .modal-close {
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

modal-layer input {
  margin: 0;
  padding: 0;
  height: 1.75rem;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  color: black;
  line-height: 0;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
}

modal-layer input:read-only, modal-layer input:disabled {
  border: none;
}

modal-layer input:focus {
  outline: none;
}

modal-layer input::selection {
  color: white;
  background-color: gray;
}

modal-layer input::placeholder {
  color: lightgray;
  font-weight: bold;
}