cpnt-registers-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

cpnt-registers-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

cpnt-registers-count label {
  color: black;
  line-height: 0;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

cpnt-registers-list {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
}

cpnt-registers-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

cpnt-registers-register label {
  color: black;
  line-height: 0;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
