cpnt-mir-mask input[type='text'] {
  margin: 0.1rem 0;
  padding: 0;
  width: 10rem;
  height: 1.75rem;
  text-align: center;
  border: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: black;
  line-height: 0;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
}

cpnt-mir-mask input[type='text']:focus {
  outline: none;
}

cpnt-mir-mask input[type='text']::selection {
  color: white;
  background-color: gray;
}
