cpnt-registers-register {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

cpnt-registers-register label {
  color: black;
  line-height: 0;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
