:host
{
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    display: inline;
    cursor: pointer;
    user-select: none;
    opacity: 0.5;
    pointer-events: all;
}

:host img
{
    height: 2rem;
    width: auto;
}

:host(:hover)
{
    opacity: 1;
}