.menu-button {
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  pointer-events: all;
}

.menu-button img {
  height: 2rem;
}

.menu-button:hover {
  opacity: 1;
}
