.menu-button {
  margin: 0;
  margin-right: 1rem;
  padding: 0.5rem;
  line-height: 0;
  background-color: lightgray;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.8;
  pointer-events: all;
  color: white;
}

.menu-button svg {
  height: 2rem;
  width: 2rem;
}

.menu-button:hover {
  opacity: 1;
}

.menu-button.active {
  opacity: 1;
  background-color: gray;
}
