.menu-button {
  margin: 0;
  margin-right: 1rem;
  padding: 0.5rem;
  line-height: 0;
  background-color: gray;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  pointer-events: all;
}

.menu-button img {
  height: 2rem;
  width: 2rem;
  filter: brightness(0) invert(1);
}

.menu-button:hover {
  opacity: 1;
}

.menu-button.active {
  opacity: 1;
  background-color: #333;
}
