@import 'styles/cpnt.css';
@import 'styles/io.css';
@import 'styles/menu.css';
@import 'styles/modal.css';
@import 'styles/link.css';

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

* {
  user-select: none;
  box-sizing: border-box;
}
