.io {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
}

.io:hover {
  opacity: 1;
}

.io:focus {
  outline: none;
}

.io.show {
  visibility: visible;
}
