@import 'CustomSelect.css';
@import 'SVGButton.css';
@import 'UintInput.css';

@import 'ArithmeticLogicUnit/Config.css';
@import 'ArithmeticLogicUnit/Func.css';
@import 'ArithmeticLogicUnit/FuncList.css';

@import 'Clock/Subcycles.css';

@import 'ControlStore/Bits.css';
@import 'ControlStore/Row.css';

@import 'MicroInstructionRegister/Label.css';
@import 'MicroInstructionRegister/List.css';
@import 'MicroInstructionRegister/Mask.css';
@import 'MicroInstructionRegister/MaskName.css';
