[is='cpnt'] {
  margin: 0;
  padding: 0;
  line-height: 0;
  z-index: 1;
  position: absolute;
}

[is='cpnt'].dragging {
  z-index: 5;
}

[is='cpnt'].dragging img {
  filter: drop-shadow(0 0 5px grey);
}

[is='cpnt'].trashed {
  filter: invert(1);
}

div[is='cpnt-label'] {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  overflow-wrap: anywhere;
  pointer-events: none;
}

[is='cpnt-item'] {
  position: relative;
}

[is='cpnt'] > div[is='cpnt-ws-screen'] {
  position: absolute;
  top: 21px;
  left: 6px;
  width: 129px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  color: black;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  pointer-events: none;
}
