.io {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  position: absolute;
}

.io:hover {
  opacity: 1;
}

.io:focus {
  outline: none;
}

cpnt-input.io {
  background-color: white;
}

cpnt-input.io:active {
  box-shadow: 0 0 5px black;
}

cpnt-output.io {
  background-color: gray;
}

cpnt-output.io:focus {
  opacity: 1;
  box-shadow: 0 0 5px black;
}
