link-layer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 0;
  pointer-events: none;
}

link-layer svg {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.cpnt-link > polyline {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.cpnt-link > line {
  stroke-width: 10px;
  stroke: transparent;
  fill: none;
  pointer-events: stroke;
  cursor: pointer;
}

link-corner {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  background-color: black;
  background-clip: padding-box;
  border: 2px solid transparent;
  z-index: 1;
  position: absolute;
}

link-corner:hover {
  opacity: 1;
}

link-corner:active {
  opacity: 1;
  filter: drop-shadow(0 0 2px black);
}
