memory-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

memory-cell label {
  margin-right: 0.25rem;
  color: black;
  line-height: 0;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}

memory-cell input[type='number'][is='uint-input'] {
  width: 3.5rem;
}
